<div class="login-page" fxFlex="100%" fxLayoutAlign="center center" fxLayout="column">
    <mat-card>
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div fxLayoutGap="15px">
                <mat-form-field>
                    <input matInput type="text" placeholder="Login" formControlName="login"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password"/>
                </mat-form-field>
                <div class="submit">
                    <button fxFlex="100%" mat-raised-button type="submit" color="warn">Entrar</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>